
.font-1-xxl{
  font: 700 3rem/1.54 "Poppins",sans-serif;
}

.font-1-xl{
  font: 700 2.25rem/1 "Poppins",sans-serif;
}

.font-1-l{
  font: 600 1.5rem/1 "Open Sans",sans-serif;
}

.font-2-l{
  font: 600 1.25rem/1 "Open Sans",sans-serif;
}

.font-3-l{
  font: 600 1rem/1 "Open Sans",sans-serif;
}

.font-4-l{
  font: 600 1rem/1 "Open Sans",sans-serif;
}

.font-5-l{
  font: 400 1rem/1.375 "Open Sans",sans-serif;
}
